
.achievement-box{
    width: 225px;
    height: 80px;
    background-color: #eee;
    position: fixed;
    bottom: 0px;
    right: 2%;
    opacity: 100;
    overflow: hidden;
    z-index: 999;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.75);
}

.clear{
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.achievement-box .oa-col1{
    float:left;
    width: 80px;
    padding: 15px;
}
.achievement-box .oa-col2{
    float:left;
    width: 140px;
    padding: 15px 15px 0px 0px;
}

.achievement-box img{
    width: 50px;
    height: 50px;
}

.achievement-box .oa-title{
    font-size: 14px;
    font-weight: 500;
    color: #555;
    margin: 0px;
}

.achievement-box .oa-desc{
    font-size: 10px;
    color: #888;
    margin: 3px 0px 0px 0px;
}

.achievement-box.oa-hide{
    /*bottom: -80px;*/
    height: 0px;
    opacity: 0;
}

.achievement-box.oa-static{
    position: relative;
    opacity: 1;
    height: 80px;
    top: 0px;
    right: 0px;

}

.oa-unwon{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}